<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Factory test result</title>
</head>
<body>
    <h1>Factory test result</h1>
    <div class="cbi-map">
        <table class="cbi-section-table" style="empty-cells:hide " border="1">
            <!-- test list -->
            <tr><th style="width:70px;">test</th><th style="width:70px;">result</th></tr>
            <%
            local fs = require "nixio.fs"
            local check = luci.sys.exec("op_factory.sh")
            local info = "/tmp/mfg_result"
            local jsonc = require "luci.jsonc"
            local factory = string.sub(luci.sys.exec("hexdump -s 0x4 -n 6 -e \'6/1 \"%02X:\"\' /dev/mtd3 | cut -b 0-17"), 1, 17)


            if fs.access(info) then
                local result = jsonc.parse(fs.readfile(info) or "")
                if type(result) == "table" then
            %>
            <tr><td>LAN</td><td style="font-weight: bold;"><%if result.lan ~= "Pass" then%><font color=red><%else%><font color=green><%end%><%=result.lan%></font></td></tr>
            <!--<tr><td>WAN</td><td style="font-weight: bold;"><%if result.wan ~= "Pass" then%><font color=red><%else%><font color=green><%end%><%=result.wan%></font></td></tr>-->
            <tr><td>SD</td><td style="font-weight: bold;"><%if result.sd ~= "Pass" then%><font color=red><%else%><font color=green><%end%><%=result.sd%></font></td></tr>
            <tr><td>USB</td><td style="font-weight: bold;"><%if result.usb ~= "Pass" then%><font color=red><%else%><font color=green><%end%><%=result.usb%></font></td></tr>
            <tr><td>Reset</td><td style="font-weight: bold;"><%if result.reset ~= "Pass" then%><font color=red><%else%><font color=green><%end%><%=result.reset%></font></td></tr>
            <tr><td>Switch</td><td style="font-weight: bold;"><%if result.switch ~= "Pass" then%><font color=red><%else%><font color=green><%end%><%=result.switch%></font></td></tr>
            <%
                else
            %>
                <tr><td>LAN</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <!--<tr><td>WAN</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>-->
                <tr><td>SD</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <tr><td>USB</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <tr><td>Reset</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <tr><td>Switch</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
            <%
                end
            else
            %>
                <tr><td>LAN</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <!--<tr><td>WAN</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>-->
                <tr><td>SD</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <tr><td>USB</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <tr><td>Reset</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
                <tr><td>Switch</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
            <%
            end

            if (factory ~= "FF:FF:FF:FF:FF:FF") and (factory ~= "00:00:00:00:00:00") and (factory ~= "A8:5A:F1:12:00:48") then
            %>
            <tr><td>Factory</td><td style="font-weight: bold;"><font color=green>Pass</font></td></tr>
            <%else%>
            <tr><td>Factory</td><td style="font-weight: bold;"><font color=red>Fail</font></td></tr>
            <%
            end
            %>
            <!-- /test list -->
        </table>
    </div>
</body>
</html>
<pre>
Title: <b><%=luci.sys.exec("date +'%Y%m%d_%H%M'|tr -d '\n'").."-debug"..string.sub(luci.sys.exec("cat /sys/class/net/eth0/address| tr -d '\n'"),-8)%></b>
FirmwareVer: <b><%=luci.sys.exec("cat /etc/build_date|tr -d '\n'")%></b>
Model: <b><%:T30%></b>
Brand: <b><%:OpenFi 6C%></b>
DDR  : <b><%=luci.sys.exec("cat /proc/meminfo |grep -i MemTotal | tr -d '\n'")%></b>
FLASH:  <b>rootfs(mtd5)      <%=string.format("%.1f", tonumber(luci.sys.exec("cat /proc/mtd|grep -i mtd5 | awk '{print $2}' | tr -d '\n'"),16)/1024/1024) %> MB</b>
LAN IP: <b><%=luci.sys.exec("uci get network.lan.ipaddr | tr -d '\n'")%></b>
2G SSID: <b><%=luci.sys.exec("uci get wireless.default_MT7981_1_1.ssid | tr -d '\n'")%></b>
5G SSID: <b><%=luci.sys.exec("uci get  wireless.default_MT7981_1_2.ssid | tr -d '\n'")%></b>
LAN MAC: <b><%=string.upper(luci.sys.exec("cat /sys/class/net/eth1/address| tr -d '\n'"))%></b>
WAN MAC: <b><%=string.upper(luci.sys.exec("cat /sys/class/net/eth0/address | tr -d '\n'"))%></b>
2G MAC : <b><%=string.upper(luci.sys.exec("cat /sys/class/net/ra0/address | tr -d '\n'"))%></b>
5G MAC : <b><%=string.upper(luci.sys.exec("cat /sys/class/net/rax0/address | tr -d '\n'"))%></b>
LAN : <b><%=luci.sys.exec(" cat /sys/class/net/eth1/speed | tr -d '\n'")%> Mbps</b>
WAN : <b><%=luci.sys.exec(" cat /sys/class/net/eth0/speed | tr -d '\n'")%> Mbps</b>
USB : <b><%=luci.sys.exec("[ `ls /sys/bus/usb/devices/ |grep  1- |wc -l` -gt 1 ] && echo connected | tr -d '\n'")%></b>
MMC : <b><%=luci.sys.exec("[ `ls /sys/class/mmc_host/mmc0/|grep mmc0|wc -l` -ge 1 ] && echo connected | tr -d '\n'")%></b>
WPS Button  : <b><%=luci.sys.exec("cat /tmp/wps_times | tr -d '\n'")%></b>
Reset Button: <b><%=luci.sys.exec("cat /tmp/reset_times | tr -d '\n'")%></b>

Burn Test:
Start:<b><font color=red><%=luci.sys.exec("cat /etc/burntest_start | tr -d '\n'")%></font></b>
End: <b><font color=red><%=luci.sys.exec("cat /etc/burntest_end | tr -d '\n'")%></font></b>

<%=luci.sys.exec("date; uptime")%>
<%=luci.sys.exec("free")%>
<%=luci.sys.exec("df -h")%>

</pre>
